body {
    margin: 0;
    background: linear-gradient(rgb(67, 67, 67), black);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

.results-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: AntiqueOlive;
    text-align: center;
}

.results-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
    min-width: calc(20% + 200px);
    padding: .2em .1em;
    gap: 1em;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    width: 100%;
    border: rgba(0, 0, 0, 0.951) solid 3px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5em;
}

input:focus {
    outline: none;
}

#finalResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border: solid white 3px;
    padding: 2em 3em;
    background-repeat: no-repeat;
    background: black;
    text-shadow: rgba(0, 0, 0, 0.46) 2px 2px 0;
    height: 250px;
    width: 250px;
}

#finalResults p {
    margin: .5em;
}

.result-title {
    font-size: 1.5em;
    text-decoration: underline;
}

#backgroundBtn, #searchResults {
    color: white;
    border-radius: 20px;
    font-size: 1.5em;
    padding: .3em 1em;
    font-weight: bold;
    cursor: pointer;
    border: solid 2px rgb(23, 25, 141);
    background-color: rgb(56, 56, 170);
    transition: .2s;
}

#backgroundBtn:hover, #searchResults:hover {
    background-color: rgb(56, 170, 56);
    border: solid 2px rgb(23, 141, 23);
}

#imgBtn {
    font-weight: bold;
    border-radius: 20px;
    padding: .7em 1em;
    text-align: center;
    border: solid black 2px;
    box-shadow: black 2px 2px 0;
    transition: .2s ease-in-out;
    cursor: pointer;
}

#imgBtn:hover {
    background-color: rgb(38, 173, 38);
    box-shadow: black 0 0 0;
}

@font-face {
    font-family: AntiqueOlive;
    src: url('./Antique\ Olive\ Black\ Regular.ttf');
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}